ul,
p,
h1 {
    text-align: center;
    list-style-position: inside;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90%;
    width: 350px;
}

body {
    background: linear-gradient(to left, #7a7a7a, #0000cc);
}

li,
h1 {
    color: white;
}

.musi,
.link {
    color: pink;
}

.likes,
.abme {
    color: white;
    text-decoration: underline;
}

h1,
p,
li {
    font-family: 'DotGothic16', sans-serif;
}